@font-face {
    font-family: 'MahboubehMehravar';
    src: url(Mentorchii/Mahboubeh_mehravar.ttf);
}
*{
    font-family: 'MahboubehMehravar', sans-serif;
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-size: 16px;
}
body{
    background: #FFF5E5;
    overflow-x: hidden;
    background-blend-mode: overlay;
}
.main-container{
    filter: blur(4px);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
}
.container .header{
    background: #D4BDAC;
    width: 860px;
    height: 80px;
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin: 0px 315px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.container .nav-bar .nav-link{
    top: 23px;
    position: fixed;
    right: 400px;
}
.container .nav-bar .nav-link a{
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    padding: 0px 70px;
    margin: 1px;
}
.container .header .image{/*it should be link to home page*/
    top: 20px;
    position: fixed;
    left: 350px;
    width: 50px;
}
.nav{
    width: 730px;
    height: 50px;
    background: #D4BDAC;
    position: relative;
    top: 130px;
    border-radius: 15px;
    right: 390px;
    display: flex;
    align-items: center;
}
.nav i{
    font-size: 1.3em;
    position: relative;
    top: 8px;
}
.nav .buttons{
    position: relative;
    right: 8px
}
.nav .buttons .btn1{
    background: none;
    border: none;
    outline: none;
    padding: 0px 20px;
    font-size: 1.3em;
    cursor: pointer;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;   
}
.main .container2{
    width: 630px;
    height: 450px;
    border: 3px solid #D4BDAC;
    border-radius: 12px;
    margin-top: 180px;
    transform: translateY(-10px);
}
.container2 .profile-page{
    margin-right: 15px;
}
.container2 .profile-page .email{
    border-bottom: 3px solid #D4BDAC;
    width: 230px;
}
.container2 .profile-page .email p{
    font-size: 1.4em;
    margin-right: 20px;
    margin-top: 20px;
}
.container2 .profile-page .change-password{
    margin-top: 10px;
    border-bottom: 3px solid #D4BDAC;
    width: 230px;
}
.container2 .profile-page .change-password p{
    font-size: 1.3em;
}
.container2 .profile-page .change-password .inputs{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container2 .profile-page .change-password .inputs .input{
    width: 180px;
    background: none;
    border: 3px solid #5272CC;
    border-radius: 15px;
    outline: none;
    padding: 0px 10px;
}
.container2 .profile-page .change-password .inputs .btn{
    background: #5272CC;
    width: 120px;
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 40px;
    margin-bottom: 20px;
}
.container2 .profile-page .exit-account{
    margin-top: 10px;
}
.container2 .profile-page .exit-account p{
    font-size: 1.3em;
}
.container2 .profile-page .exit-account .exit-btn{
    cursor: pointer;
    width: 140px;
    height: 35px;
    background: #912C2C;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-right: 30px;
    margin-top: 13px;
}
#profile.show, #roadmap.show, #mentor.show, #progress.show{
    opacity: 1;
    transform: translateY(0);
}
.hide{
    display: none;
}
