@font-face {
    font-family: 'MahboubehMehravar';
    src: url(Mentorchii/Mahboubeh_mehravar.ttf);
}
@font-face {
    font-family: 'plasma';
    src: url(Mentorchii/Plasma-Square-Dots-@behfont.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: #FFF5E5;
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    font-size: 16px;
}
.container{
    width: 26%;
    height: 250px;
    background: #D4BDAC;
    margin-top: 200px;
    margin-right: 100px;
    border-radius: 10px;    
}
.container .title{
    margin-right: 47px;
    margin-top: 30px;
}
.container .title .bold-text{
    font-size: 1.5em;
    font-family: 'MahboubehMehravar', serif;

}
.container .title .text{
    font-family: 'MahboubehMehravar', serif;
    font-size: .8em;
    color: #807267;
}
.container .input-box{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .input-box .input{
    background: none;
    outline: none;
    border: 3px solid #5272CC;
    border-radius: 50px;
    width: 290px;
    height: 30px;
    position: relative;
    left: 10px;
}
.container .input-box .input::placeholder{
    color: #807267;
    font-family: 'MahboubehMehravar', serif;
    padding: 10px;
}
.container .btn-container{
    margin-right: 120px;
}
.container .btn-container .btn{
    background: none;
    width: 150px;
    height: 30px;
    outline: none;
    background: #5272CC;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 1em;
    font-family: 'MahboubehMehravar', serif;
    cursor: pointer;
}
.container .link-container{
    text-decoration: none;
    margin-right: 135px;
    position: relative;
    top: 10px;
    color: #807267;
    font-family:'MahboubehMehravar', serif;
    font-size: 1.1em;
}
.image-container .image{
    width: 380px;
    height: 600px;
    margin-top: 70px;
    margin-left: 40px;
    margin-right: 40px;
}
