@font-face {
    font-family: 'MahboubehMehravar';
    src: url(Mentorchii/Mahboubeh_mehravar.ttf);
}
@font-face {
    font-family: 'plasma';
    src: url(Mentorchii/Plasma-Square-Dots-@behfont.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    direction: rtl;
    font-size: 16px;
}
body{
    background: #FFF5E5;
    font-family: 'MahboubehMehravar', sans-serif;
    overflow-x: hidden; 
    /* max-height: 100vh; */
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
}
.container .header{
    background: #D4BDAC;
    width: 800px;
    height: 80px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    margin: 0px 315px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 4;
}
.container .nav-bar .nav-btn{
    background: none;
    margin-top: 20px;
    margin-right: 20px;
}
.container .nav-bar .nav-btn .btn-login{/*link or button?*/
    font-family: 'MahboubehMehravar', sans-serif;
    background: none;
    border: 2px solid #99887C;
    border-radius: 10px;
    padding: 0.6px;
    width: 70px;
    height: 35px;
    font-size: 1.2em;
    margin: 0px 5px;
    cursor: pointer;
}
.container .nav-bar .nav-btn .btn-signup{/*link or button?*/
    font-family: 'MahboubehMehravar', sans-serif;
    background: #99887C;
    font-size: 1.2em;
    border: none;
    padding: .6px;
    width: 70px;;
    border-radius: 10px;
    cursor: pointer;
    
}
.container .nav-bar .nav-link{
    top: 23px;
    position: fixed;
    right: 480px;
}
.container .nav-bar .nav-link a{
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    font-weight: bold;
    padding: 42px;
    margin: 1px;
}
.container .header .image{/*it should be link to home page*/
    top: 18px;
    position: fixed;
    left: 310px;
    width: 50px;
}

.main .start{
    position: relative;
    top: 30px;
} 
.main .start .image{
    width: 55%;
    position: relative;
    right: 30%;
    top: 140px;
}
.main .start h1{
    font-family: 'plasma';
    position: absolute;
    font-size: 6.5em;
    right: 21%;
    top: 40%;
}
.main .start p{
    font-family: 'MahboubehMehravar', sans-serif;
    position: relative;
    right: 21%;
    font-size: 1.1em;
    bottom: 10px;
    color: #807267;
    top: -90px;
}
.main .description{
    width: 790px;
    height: 300px;
    background: #D4BDAC;
    right: 21%;
    top: -770px;
    border-radius: 10px;
    position: relative;
    margin: 200px 0px;
    z-index: 2;
}
.main .description p{
    width: 600px;
    position: relative;
    right: 90px;
    top: 40px;
    z-index: 2;
}
.main .description .quiz-link{
    background: #5272CC;
    width: 240px;
    height: 43px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 270px;
    bottom: 25px;
    border-radius: 10px;
}
.main .description .quiz-link a{
    text-decoration: none;
    color: black;
    font: 'MahboubehMehravar', sans-serif;
}
.main .bblob-container .blue-blob{
    width: 60%;
    position: relative;
    left: 430px;
    opacity: 80%;
    z-index: 1;
}

.question{
    position: relative;
    margin-top: -810px;
}

.question h1{
    font-family: plasma, sans-serif;
    font-size: 1.7em;
    position: relative;
    right: 21%;
    margin-bottom: 25px;
  }
  
  .faq-heading {
    font-family: 'MahboubehMehravar', sans-serif;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 19px;
    color: #000000;
    background: #D4BDAC;
    font-weight: bold;
  }
  
  .faq-text {
    font-family: 'MahboubehMehravar', sans-serif;
    background: #D4BDAC;
    color: #333333;
    width:85%;
    padding-left:20px;
    padding-right: 55px;
    margin-top: 20px;
    margin-bottom:20px;
  }
  
  .faq {
    width: 60%;
    border: none;
    border-radius: 14px;
    position: relative;
    right: 24%;
  }
  
  .faq label {
    border: none;
    border-radius: 14px;
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 70px;
    margin-left: 100px;
    margin-bottom: 35px;
    background-color: #D4BDAC;
    border-bottom: 1px solid #D4BDAC;
  }
  
  .faq input[type="checkbox"] {
    display: none;
  }
  
  .faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: transform 0.8s;
    border-bottom: 3px solid rgba(0, 0, 0, 0.33);
    border-right: 3px solid rgba(0, 0, 0, 0.33);
    float: left;
    position: relative;
    top: -20px;
    left: 27px;
    transform: rotate(45deg);
            
  }
  
   .faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: transform 0.8s;
    transform: rotate(-45deg);          
  }
  
   .faq input[type="checkbox"]:checked + label {
    display: block;
    background: #D4BDAC;
    height: 225px;
    transition: height 0.8s;
  }
  
   .faq input[type='checkbox']:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 50px;
    
  }
  
  ::-webkit-scrollbar {
    display: none;
  }

.icon {
    font-size: 16px;
    position: relative;
    right: 630px;
}

.question {
    font-size: 18px;
    color: black;    
}

.footer .rblob-container .red-blob{
    width: 60%;
    clip-path: inset(0% 0% 60% 0%); /* Adjust these values to crop the blob */
    position: relative;
    left: -900px;
    opacity: 80%;
    z-index: 1;
    top: 800px;
}

.footer{
    position: relative;
    bottom: 800px;
}
.footer .footer-link a{
    position: relative;
    right: 21%;
    top: 74px;
    color: #000000;
    z-index: 3;
    text-decoration: none;
}
 .footer .image{
    position: relative; 
    right: 75%;
    z-index: 3;
    width: 50px;
 }
 .footer .text{
    position: relative;
    right: 65%;
    z-index: 3;
    color: #333333;
 }
 .footer .rights{
    display: flex;
    justify-content: center;    
    align-items: center;
    color: #807267;
 }


